.Rproj.user
.Rhistory
.RData
.Ruserdata
data/*
lit/*
slides/*
R/old/*
fig/CCES/rf/*_senate_*
fig/CCES/rf/*_house_*
fig/CCES/rf/*approval*
fig/*/old/*
tab/old/*
*varrf*
*varcart*
*varlogit*
fig/Nationscape/*
